# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.
#
# If you need help with YAML syntax, here are some quick references for you:
# https://learn-the-web.algonquindesign.ca/topics/markdown-yaml-cheat-sheet/#yaml
# https://learnxinyminutes.com/docs/yaml/
#
# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.

title: Daniel Silva Barrera
email: silvdaniel@gmail.com
description: >- # this means to ignore newlines until "baseurl:"
  I help ML and AI teams build amazing things while leading tech projects. 
  I’m a firm believer that data tells the best stories, so in my free time, 
  I dive into sports analytics just for fun. This blog is a mix of AI team leadership, 
  technical experiments, and the occasional sports insight as a hobby

#Localhost
#url: "http://localhost:4000"
#baseurl: ""

#Github
url: "https://danielsilvabarrera.com"
baseurl: ""

twitter_username: daniels13ca
github_username:  daniels13ca

# Build settings
theme: minimal-mistakes-jekyll

# Plugins
plugins:
  - jekyll-include-cache
  - jekyll-sitemap
  - jekyll-gist
  - jekyll-feed

# Configuración específica para jekyll-feed
feed:
  path: atom.xml


minimal_mistakes_skin: "aqua" # O el color que prefieras: air, aqua, dark, etc.

# Exclude from processing.
# The following items will not be processed, by default.
# Any item listed under the `exclude:` key here will be automatically added to
# the internal "default list".
#
# Excluded items can be processed by explicitly listing the directories or
# their entries' file path in the `include:` list.
#
# exclude:
#   - .sass-cache/
#   - .jekyll-cache/
#   - gemfiles/
#   - Gemfile
#   - Gemfile.lock
#   - node_modules/
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/

# Forzar a que no busque posts para el home
paginate: false

defaults:
  - scope:
      path: ""
    values:
      layout: "single"
      author_profile: true
      breadcrumbs: false # ESTO ELIMINA EL TEXTO DE ARRIBA
